# Virtual environment
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset (too large)
train_images/
test_images/
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml